body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #e1dede);
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
#quiz-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#options button:hover {
    background-color: #e0e0e0;
}

#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #45a049;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
